<script>
    import 'sakana-widget/lib/index.css';
    import SakanaWidget from 'sakana-widget';
  
    if (typeof window !== 'undefined') {
        const github = SakanaWidget.getCharacter('chisato');
        if (github) {
            github.image = `oh-mai-gotto.png`;
            github.initialState = {
                ...github.initialState,
                i: 0.0045,
                d: 0.992,
            };
            SakanaWidget.registerCharacter('github', github);
        }
        
        const mountWidget = () => {
            const options = {
                character: 'github',
                controls: false
            };
            new SakanaWidget(options).mount('#oh-mai-gotto');
        };
        
        window.addEventListener('DOMContentLoaded', mountWidget);
    }

    if (typeof window !== 'undefined') {
        const github = SakanaWidget.getCharacter('chisato');
        if (github) {
            github.image = `korn.png`;
            github.initialState = {
                ...github.initialState,
                i: 0.0045,
                d: 0.992,
            };
            SakanaWidget.registerCharacter('korn', github);
        }
        
        const mountWidget = () => {
            const options = {
                character: 'korn',
                controls: false
            };
            new SakanaWidget(options).mount('#korn');
        };
        
        window.addEventListener('DOMContentLoaded', mountWidget);
    }
</script>
<div id="oh-mai-gotto" style="position: fixed;bottom: 0;right: 150px;z-index: 99;"></div>
<div id="korn" style="position: fixed;bottom: 0;right: 0;z-index: 99;"></div>